<!DOCTYPE html>
<html lang="en">
<head>
	<title>100 Websites in 6 Months</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="Cstylesheet.css" type="text/css" charset="utf-8" />
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>
<body>
	<div class="top-space">
		<div class="spacer"></div>
		<div class="container">
			<div class="title">
			Hi, I am Zhi Hui :) </div>
			<div class="sec-text">
			I'm learning to code. Follow me as I create 100 websites in the next 6 months!</div>
		</div>
	</div>
	<div align="center">	
		<div class="projects-container-enc">
			<span class="projects">My Projects</span>
			<div align="center">
				<div class="projects-container">
					<a href="http://google.com" >	
		 				<div class="portfolio">
		 					<div class="project-title">
		 					New Years
		 				</div>
     				<img src="assets/dogs.png"  width="100%" />
     				</div>
     			</a>
     			<div class="portfolio">
     				<div class="project-title">
		 					Coming Soon
		 				</div>
     				<img src="assets/dogs.png"  width="100%" >
     			</div>
     			<div class="portfolio">
     				<div class="project-title">
		 					Coming Soon
		 				</div>
     				<img src="assets/dogs.png"  width="100%" >
     			</div>
   			</div>
			</div>
		</div>
	</div>
</body>
</html>



